<!DOCTYPE html>
<title>Forを試す</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <ul>
        <!-- 各商品の単価と購入個数をリスト表示する -->
        <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}の個数: 
            <input type="number" v-model="item.quantity" min="0">
        </li>
    </ul>
    <hr>
    <div v-bind:style="errorMessageStyle">
        <ul>
            <li v-for="item in items" v-bind:key="item.name">
                {{ item.name }}: {{ item.price }} × {{ item.quantity }} = 
                    {{ item.price * item.quantity | numberWithDelimiter }}円
            </li>
        </ul>
        <p>{{ items[0].name }}: {{ items[0].price }} × {{ items[0].quantity }}</p>
        <p>小計: {{ totalPrice | numberWithDelimiter }}円</p>
        <p>合計(税込): {{ totalPriceWithTax | numberWithDelimiter }}円</p>
        <p v-show="!canBuy">
            {{ 1000 | numberWithDelimiter }}円以上からご購入いただけます
        </p>
        <button v-bind:disabled="!canBuy" v-on:click="doBuy">購入</button>
    </div>
</div>
<script src="method.js"></script>
